<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        alert('아이디를 확인해주세요')
        location = '/auth/signin'
    </script>
    <!-- 나가
    <br>
    <br>
<a href="/html/emp">확인</a> -->
</body>
</html>
</body>
</html>