<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table class="table table-hover">
        <tr style="font-weight: bold;">
            <td>번호</td>
            <td>이름</td>
            <td>가격</td>
            <td>동물번호</td>
            
        </tr>
        <tr th:each="product : ${ProductList}"> 
            <td>[[ ${product.id} ]]</td>
            <td>[[ ${product.name} ]]</td>
            <td>[[ ${product.price} ]]</td>
            <td>[[ ${product.animal.id} ]]</td>
            
        </tr>
    </table>


</body>
</html>